DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_postgres_password_here
DB_NAME=cash_future_db

# CSV Data Paths
CM_CONTRACT_MASTER_PATH=C:/Users/lucky/Downloads/task/task/nse_cm_ref_contract_master.csv
FO_CONTRACT_MASTER_PATH=C:/Users/lucky/Downloads/task/task/nse_fo_ref_contract_master.csv
CM_MARKET_DATA_PATH=C:/Users/lucky/Downloads/task/task/nsecm_market_data.csv
FO_MARKET_DATA_PATH=C:/Users/lucky/Downloads/task/task/nsefo_market_data.csv
